body {
    background: pink;
    margin-top: 250px;
    place-items: center;
    display: grid;
}
h1 {
    place-items: center;
    display: grid;
}
ul li {
    list-style: none;
    width: 450px;
    padding: 2px;
}
input {
    border: none;
    width: 450px;
}

.footer {
    margin-left: 30px;
}

.btn {
    float: right;
    background-color: pink;
    border: none;
    background-size: 2px;
}