body {
    background: pink;
    margin-top: 250px;
    place-items: center;
    display: grid;
}
h1 {
    place-items: center;
    display: grid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
ul li {
    list-style: none;
    width: 455px;
    padding: 3px;
    margin-top: 3px;
}
input {
    border: none;
    width: 448px;
    padding: 2px;
    border: 1px solid;
    border-radius: 1px;
}

.footer {
    margin-left: 35px;
}